.navbar {
  background-color: rgb(158, 158, 158);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.content-box {
  margin-left: auto;
  margin-right: 2rem;
}


.toolbar-logo {
  margin-left: 1rem;
  cursor: pointer;
}

.toolbar-logo img {
  width: 50px;
  height: auto;
}