.navbar {
  background-color: wheat;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.content-box {
  margin-left: auto;
}
.toolbar-logo {
  cursor: pointer;
}

.toolbar-logo img {
  width: 50px;
  height: auto;
}